body {
    color:rgb(0, 0, 0);
} 
.center{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}   
.c{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: bisque;
}   
.left{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.es{
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
